{% extends 'base.html.twig' %}

{% block title %}Merchant registration{% endblock %}

{% block body %}
    <div class="container">
      <div id="registration-form">
        <header align="center">
          <h1>Registration form</h1>
        </header>
        <form class="form-horizontal" method="post" name="registration_form">
          <div class="form-group {{ customer.hasError('name') ? 'has-error' : '' }}">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName " placeholder="Your Name" name="customer[name]" maxlenght="60" value="{{ customer.name }}">
              {% if customer.hasError('name') %}
                <span id="helpBlock" class="help-block">{{ customer.getErrorString('name') }}</span>
              {% endif %}
            </div>
          </div>
          <div class="form-group {{ customer.hasError('email') ? 'has-error' : '' }}">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="customer[email]" maxlenght="60" value="{{ customer.email }}">
              {% if customer.hasError('email')  %}
                <span id="helpBlock" class="help-block">{{ customer.getErrorString('email') }}</span>
              {% endif %}
            </div>
          </div> 
          <div class="form-group {{ customer.hasError('password') ? 'has-error' : '' }}">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="customer[password]" maxlenght="60">
              {% if customer.hasError('password') %}
                <span id="helpBlock" class="help-block">{{ customer.getErrorString('password') }}</span>
              {% endif %}
            </div>
          </div>
          <div class="form-group {{ customer.hasError('password_confirm') ? 'has-error' : ''}}">
            <label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" name="customer[password_confirm]" maxlenght="60">
              {% if customer.hasError('password_confirm') %}
                <span id="helpBlock" class="help-block">{{ customer.getErrorString('password_confirm') }}</span>
              {% endif %}
            </div>
          </div>
            {% if app_environment != 'development' %} 
            <div class="form-group {{ errors.captcha is empty ? '' : 'has-error'}}">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <div class="g-recaptcha" data-sitekey="{{sitekey}}"></div>
                {% if not errors.captcha is empty %}
                  <span id="helpBlock" class="help-block">{{errors.captcha}}</span>
                {% endif %}
              </div>
            </div>
          {% endif %} 
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" name="buttonSubmit">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}